body {
    background-color: aliceblue;
}

#toDo {
    align-content: center;
}

.inputTasks {
    text-align: center;
    
}
.taskHeader {
    
    text-align: center;
}

.list1 {
    text-align: center;
    float: right;
    
}
.list2 {
    float:right;
}

.list4 {
    float: right;
}
.iUHeader {
    float: right;
}
.uUHeader {
    float: right;
}


#sortable1, #sortable2, #sortable3, #sortable4, #sortable5 {
    border: 2px solid black;
    width: 450px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li, #sortable5 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 400px;
  }